<!-- <div class="my-custom-control" >
    <a class="my-custom-control__value"  ></a>
    
    <div class="my-custom-control__options-list">
      <app-my-custom-control-option *ngFor="let item of opts" [key]="item.key" [value]="item.value" (click)="selectOption(item)"></app-my-custom-control-option>
    </div>
  </div> -->

  <div class="color-picker" [ngClass]="{'open': open}" >
    <div class="summary-info" (click)="toggle()">
      <div class="info">
        <p class="style">Background</p>
        <p class="style-value">{{value? value.hex: '#ffffff'}}</p>
      </div>
      <div class="circle" [style.background]="value? value.hex: '#fff'"></div>
    </div>
    <div class="my-custom-control__overlay" (click)="close()"></div>
    <div class="color-picker-list" >
      <div class="colors">
        <ng-container *ngFor="let item of opts">
            <div class="circle" [style.background]="item.hex" (click)="selectOption(item)"></div>
        </ng-container>
      </div>
      <div class="hex-code">
        <p>Hex Code</p>
        <div class="g-input">
          <input type="text" [value]="value? value.hex: '#fff'" readonly/>
        </div>
      </div>
    </div>
  </div>